html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; 
    background: transparent;  
}
 
body{
    background-color: whitesmoke;
}


.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Lucida Handwriting' serif;
    font-size: 1.0rem;
    font-weight: 100;
    top: 40px;
    position: relative;
}

.navbar-brand {
    font-family: 'Lucida Handwriting';
    font-size: 1.5rem;
}

.navbar-toggler{
    padding: 0.5px 3px;
    background-color: whitesmoke;
   }

.carousel .carousel-item {
    max-height:850px;
    position: relative;
    top: 85px;
}

.carousel-item img {
    max-height:650px; 
    max-width: 90%; 
}


.new-heading {
font-family: 'Lucida Handwriting';
text-align: center;
color: rosybrown;
font-weight: 400;

}

hr{
    background-color: rosybrown;
}


.new-arrivals-one{
    max-height: 25%;
    width: 25%;
    position: relative;
    left: 40px;

}

.new-arrivals-two{
    height: 25%;
    width: 25%;
    position: relative;

}

.new-arrivals-three{
    height: 25%;
    width: 25%;
    position: relative;
    right: 40px;


}

.carousel-control-next-icon{
    position: relative;
    background-color: lightgray;

    top: 40px;
 
}

.carousel-control-prev-icon{
    position: relative;
    top: 40px;
    background-color: lightgray;
 
}

.checked {
    background-color: orange;
  }

  /* Chat Feature */
  body {
    box-sizing: border-box;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: rosybrown;
  color: #DCDCDC;
  padding: 0px 0px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 80px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 15px;
  border: 3px;
  z-index: 2;
}

/* Add styles to the form container */
.form-container {
  max-width: 255px;
  padding: 10px;
  background-color: rosybrown;
  border-radius: 10px;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #DCDCDC	;
  font-family: 'Lucida Handwriting';
  border-radius: 15px;;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #DCDCDC;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: grey;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #181818;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.chat-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
}